@font-face
  font-family: "HK Grotesk Regular"
    src : url("../fonts/HK-Grotesk-Regular.woff2")
  font-weight: 400
  font-style: mormal
  font-stretch: normal

@font-face
  font-family: "HK Grotesk"
    src : url("../fonts/HK-Grotesk-SemiBold.woff2")
  font-weight: 600
  font-style: bold
  font-stretch: normal

@font-face
  font-family: "HK Grotesk"
    src : url("../fonts/HK-Grotesk-Bold.woff2")
  font-weight: 700
  font-style: bold
  font-stretch: normal
